
body
{
    padding: 50px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100vh;
    background:url("./images/img/unnamed.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.clock
{
    width:25rem;
    height: 25rem;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    background: url("./images/png/clock5.png");
    background-repeat: no-repeat;
    background-size: 100%;
    
    border: 10px solid #091921;
    border-radius: 25%;
   
}

.clock-face{
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotateY(-3px);
}
.hand-hr{
    width: 50%;
    height: 10px;
    background: #920b0b;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    
}

.hand-mn{
    width: 50%;
    height: 5px;
    background: #091921;
    position: absolute;
    top: 50%;
    border-radius: 25%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    
}

.hand-sc{
    width: 50%;
    height: 3px;
    background: #1a911a;
    position: absolute;
    top: 50%;
    border-radius: 25%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    
}
.container{
    font-size: 24px;
    
}
.time-clock{
    font-size: 50px;
    
}
.day, .year{
    font-size: 28px;
}

.night-but{
    width: 60px;
    height: 40px;
    font-size: 14px;
    border-radius: 20px;
}
.night-but:hover{
    transform: scale(1.2);
}